html, body{
	margin-top: 5px;
	background-color: #F2F2F2;
}

footer{
<<<<<<< HEAD
	margin-top: 10px;
	text-align: center;
}

.jumbotron{
	/*background-image: url('images/cmw_workstn.jpg'); /*Picture not final, simply a place holder, supplied by morguefile.com*/*/
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
=======
	margin-top: 15px;
	text-align: center;
	font-style: italic;
	clear: both;
}

.jumbotron{
	/*background-image: url('images/cmw_workstn.jpg');*/
	background-color: #CCCCCC;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

#service-img{
	width: 150px;
	margin: 25px auto;
}

#contact-form{
	width: 500px;
	margin: 15px auto;
}

.serv-list{
	list-style: none;
	font-style: italic;
}

.serv-list li{
	list-style: none;
	margin-left: 15px;
>>>>>>> Initial-Creation
}