html, body{
	margin-top: 5px;
	background-color: #F2F2F2;
}

footer{
	margin-top: 10px;
	text-align: center;
}

.jumbotron{
	/*background-image: url('images/cmw_workstn.jpg');*/
	background-color: #CCCCCC;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}